.add-hero {
  margin-top: 50px;
}

.add-hero-card {
  max-width: 400px;
  margin: 20px auto;
  padding-top: 20px;
  background: linear-gradient(
    to left,
    rgba(103, 11, 11, 0.6),
    rgba(185, 137, 56, 0.655)
  );
  color: #f5f5f5fa;
}

mat-card-header {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

#add-hero-btn {
  color: white;
  background-color: rgba(225, 125, 42, 0.427);
  border: 3px solid rgba(53, 4, 4, 0.488);
  border-radius: 35%;
}
