.example-container {
  height: 100vh;
  background-color: rgba(240, 248, 255, 0);
}

.sidenav {
  width: 250px;
  background-color: #d7e3ff; /* Color de la barra lateral */
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #d7e3ff; /* Color de la barra de herramientas */
}

.spacer {
  flex: 1 1 auto;
}

.mat-list-item.active {
  background-color: #c1d0f4; /* Color de acento para el item activo */
}
