<div class="hero-background">
  <div class="container mt-3 hero-details-container">
    <h2 class="hero-title">Detalle del Héroe</h2>

    @if (hero) {
    <mat-card class="hero-details-card">
      <mat-card-header>
        <mat-card-title
          ><span class="title">{{ hero.superHero }}</span></mat-card-title
        >
        <mat-card-subtitle
          ><span class="title">{{ hero.alterEgo }}</span></mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content>
        <div class="hero-details-content">
          <div class="hero-info">
            <p>
              <strong>Primera aparición:</strong> {{ hero.firstAppearance }}
            </p>
            <p><strong>Personajes:</strong> {{ hero.characters }}</p>
            <p><strong>Creador:</strong> {{ hero.creator }}</p>
          </div>
          <div class="hero-image-container">
            <img
              [src]="hero.altImage"
              alt="{{ hero.superHero }}"
              class="hero-image"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon> Volver
      </button>
    </div>
    } @else {
    <div class="error-message">
      <p>Error: Héroe no encontrado</p>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon> Volver
        </button>
      </div>
    </div>
    }
  </div>
</div>
