<div class="bg-img">
  <div class="login">
<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Iniciar sesión
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="register-container">
        <span>¿No tienes una cuenta?</span>
        <button mat-button (click)="navigateToRegister()">Registrarte</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
</div>